*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
__pycache__/
gui/tutorial/qml_chart_example/build-frechet-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
gui/tutorial/qml_chart_example/frechet/frechet.pro.user.966c954
gui/tutorial/qml_chart_example/frechet/frechet.pro.user.06c7b87
gui/tutorial/qml_chart_exampleAlex/build-frechet-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
gui/tutorial/qml_chart_example/build-frechet-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
*.user
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/.qmake.stash
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/Makefile
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/Makefile.Debug
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/Makefile.Release
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/ellipses/Algorithm.py
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/ellipses/Geometry.py
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/ellipses/Graphics.py
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/ellipses/Input.py
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/ellipses/Test.py
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/main.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/mainwindow.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/debug/qrc_qml.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Debug/ui_mainwindow.h
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/.qmake.stash
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/Makefile
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/Makefile.Debug
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/Makefile.Release
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/main.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/mainwindow.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/moc_mainwindow.cpp
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/moc_mainwindow.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/qrc_qml.cpp
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/release/qrc_qml.o
gui/Version1/build-frechet-Desktop_Qt_5_7_1_MinGW_32bit-Release/ui_mainwindow.h
src/Ellipsen/v3/save.txt
